In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("qoura_questions.csv")
df.head()

                                            question
0  What is the step by step guide to invest in sh...
1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2  How can I increase the speed of my internet co...
3  Why am I mentally very lonely? How can I solve...
4  Which one dissolve in water quikly sugar, salt...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1903 entries, 0 to 1902
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   question  1903 non-null   object
dtypes: object(1)
memory usage: 15.0+ KB

In [4]:
# df["question"]= df["question"].str.lower()
# df.info()

In [5]:
df["count"] = df["question"].apply(lambda x: len(set(x.split())))

In [6]:
df

                                               question  count
0     What is the step by step guide to invest in sh...     12
1     What is the story of Kohinoor (Koh-i-Noor) Dia...      8
2     How can I increase the speed of my internet co...     14
3     Why am I mentally very lonely? How can I solve...     10
4     Which one dissolve in water quikly sugar, salt...     13
...                                                 ...    ...
1898  How does the aluminum in MacBook Pros react wi...     11
1899  I am visiting Sri Lanka soonfor 9 days, how ca...     17
1900     What are some good examples of 4 stanza poems?      9
1901         Which CPU is better I3 4th Gen or 6th Gen?     10
1902  What are some of the best tourist places to vi...     12

[1903 rows x 2 columns]

In [7]:
sum_word= df["count"].sum()
sum_word

20144

In [8]:
def count_digits(s):
    return sum(c.isdigit() for c in s)
df['digits_count'] = df['question'].apply(count_digits)

total_digits = df['digits_count'].sum()
print(total_digits)

813

In [9]:
df2 = pd.read_csv("shereno.csv")
def count_digits(s):
    return sum(c.isdigit() for c in s)
df2['digits_count'] = df2['Poem'].apply(count_digits)

total_digits2 = df2['digits_count'].sum()
print(total_digits2)

997

In [10]:
with open('stopwords.txt', 'r', encoding = 'utf-8') as f:
    stopwords = set(f.read().splitlines())

def count_stopwords(text):
    words = text.split()
    return sum(word in stopwords for word in words)
df2['stopwords_count'] = df2['Poem'].apply(count_stopwords)

total_stopwords = df2['stopwords_count'].sum()
print(total_stopwords)

349581